html {
    height: 100%;

}

body {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

main {
    min-height: 86.5vh;
    background-image: url(./images/bgimg5.PNG);
    background-position: cover;
    background-repeat: repeat
}

.masterContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
    width: 100%;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(233, 162, 173);
    flex-wrap: wrap;

}


.top-1 {
    display: none
}


.top-2 {
    font-size: 10px;
    line-height: 6px;
    align-self: center;
}

.top-2 h1 {
    margin-left: 70px;
}

.top-3 {
    align-self: center;
    padding-right: 10px;
    width: 50px;
}

.phone {
    font-size: small;

}

/* possible work area */

.topNav {
    margin-top: 2px;
    width: fit-content;
    align-self: center;
}

.navList {
    border: solid 1px black;
    background-color: rgb(233, 162, 173);
    border-radius: 5px;
    display: flex;
}

.topNav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.topNav ul li {
    font-size: 17px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.topNav ul li:nth-child(4) {
    margin-right: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.navList a.active {
    text-decoration: underline;
}

.navList li a:hover {
    background-color: rgb(243, 193, 157);
    color: black;
}


/*  possible work area */



/* Work area */



.mainInfo h1 {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
}

.underWelcome p {
    background-color: rgba(243, 193, 157, .4);
    border-radius: 5px;
    max-width: 40ch;
    word-spacing: 5px;
    font-weight: bold;
}

.mainInfo-2 p {
    max-width: 40ch;
    word-spacing: 5px;
    font-weight: bold;
    background-color: rgba(243, 193, 157, .4);
    border-radius: 5px;
}

.oldStore {
    height: 250px;
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px black;
}

.tagLine {
    text-align: center;
    font-style: italic;

}

.mainContentArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.column-1 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    display: none;
}

.column-1 .leftNav ul li {
    text-decoration: none;
    list-style: none;
}


.column-1 .leftNav ul {
    padding-left: 0%;
    padding-top: 65px;
}

.leftNav ul li {
    border: 2px black solid;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: xx-large;
    text-align: center;
}


.leftNav ul li>a {
    opacity: 1;
    transition: .5s;
}


.leftNav ul li>a:hover {
    opacity: 1;
    color: white;
    font-weight: bolder;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bgHome {
    background-image: url(./images/homeImg.PNG);
    background-position: center;
}

.bgApples {
    background-image: url(./images/appleBG.PNG);
    background-position: center;
    background-size: cover;
}

.bgCiders {
    background-image: url(./images/ciderBG2.png);
    background-size: cover;
    background-position: center;
}

.bgJuices {
    background-image: url(./images/juiceBG.PNG);
    background-position: center;
    background-size: cover;
}


/* work area */






.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(233, 162, 173);
}

.bottomLeft {
    align-self: center;
}

.bottomLeft img {
    padding: 2px;
}

.bottomRight img {

    padding-right: 4px;
}


/* Media Queries */

@media (min-width: 375px) {
    .top-1 {
        align-self: center;
        display: block;
    }

    .top-2 h1 {
        margin-left: 0px
    }


}

@media (min-width: 767px) {

    .topNav {
        visibility: hidden;
    }



    .column-1 {
        display: flex;



    }

    .column-3 {
        padding-left: 60px;
    }
}





/* check height on body if anything breaks  */
/* html, body, main{ 
    height: 100%
}

/* .mainContentArea margin */

/* body {
    padding
    margin
    border
}
/* The big issue is the main going under footer when I make browser small vertically */